<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MIDI Converter</title>
</head>
<body>

<h1>Just The Music</h1>
<h2>Text-To-MIDI Converter
<br>

<form>
    <input id="text-input" type="text">
    <button id="convert-button" type="button">Convert to MIDI!</button>
</form>

<p>Write python files that convert words to midi sound data using python</p>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/static/website.js"></script>
<!-- NOTE: when a .js file is created in the static folder, either use "website.js" as the name of that file, or change the above line accordingly -->
</body>
</html>

